%fieldset
	%button{ :onclick => "clearSel()" }
		Clear Selection
%fieldset
	%legend
		Location
	%label#cell_location
%fieldset
	%legend
		Region
	Count:
	%label#region_count
	%br
	ID:
	%label#region_id
	%br
	Name:
	%label#region_name
	%br
	Type:
	%label#region_type
	%br
	Terrain:
	%label#region_terrain
	%br
%fieldset
	%legend
		Tagging Mode
	%input{ :type => 'checkbox', :checked => false, :onchange => '', :id => "tagging_mode" }
		Enable