%fieldset
	%legend
		Location
	%label#cell_location
%fieldset
	%legend
		Region
	ID:
	%label#region_id
	%br
	Name:
	%label#region_name
	%br
	Type:
	%label#region_type
	%br
	Terrain:
	%label#region_terrain
	%br