%script(src="/scripts/jquery.min.js")
%script(src="/prototypes/cell.js")
%script(src="/prototypes/leg.js")
%script(src="/prototypes/journey.js")
%script(src="/prototypes/region.js")
%script(src="/scripts/regions.js")
%script(src="/prototypes/classtest.js")
	

