%script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
%script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" )
%script(src="https://d3js.org/d3.v4.min.js" charset="utf-8" )
%script(src="/scripts/events.js")
%script(src="/scripts/regions.js")
%script(src="/scripts/scripts.js")
%script(src="/scripts/hexgrid.js")
%script(src="/scripts/maps.js")

%html
	%head
		%link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css")
		%link(rel="stylesheet" href="css/styles.css")

	%body
		#map
			%svg#overlay
			#control_panel
				=partial :controls, :layout => false