%script(src="/scripts/jquery.min.js")
%script(src="/scripts/jquery-ui.js" )
%script(src="https://d3js.org/d3.v3.min.js" )
%script(src="/prototypes/cell.js")
%script(src="/prototypes/leg.js")
%script(src="/prototypes/journey.js")
%script(src="/prototypes/region.js")
%script(src="/prototypes/classtest.js")%script(src="/scripts/journey.js")
%script(src="/scripts/events.js")
%script(src="/scripts/regions.js")
%script(src="/scripts/locations.js")
%script(src="/scripts/hexgrid.js")
%script(src="/scripts/maps.js")
%script(src="/scripts/scripts.js")
%script(src="/scripts/journey.js")


%html
	%head
		%link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css")
		%link(rel="stylesheet" href="css/styles.css")

	%body
		#map
			%svg#overlay
			#control_panel
				=partial :controls, :layout => false