%fieldset
	%legend
		Options
	%label
		Start Date: 
	%select#startmonth{ :onchange => 'computeJourney()' }
		-["January","February","March","April","May","June","July","August","September","October","November","December"].each_with_index do | month, index |
			%option{ :value => index }
				=month
	%select#startday{ :onchange => 'computeJourney()' }
		-31.times do | i |
			%option{ :value => (i + 1) }
				=(i+1).to_s
	%p
	%input#riding{ :type => 'checkbox', :onchange => 'computeJourney()' }
	%label{ :for => "riding" } 
		Riding 
	%p
	%input#reverse_direction{ :type => 'checkbox', :onchange => 'computeJourney()' }
	%label{ :for => "reverse_direction" }
		Reverse Direction
